{% extends 'base.html'%}

{% block content %}

<h1>Add new task!</h1>
{% if error %}
<br />
{{error}}
<br />
{% endif %}

<form method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
  {% csrf_token %}

  Title:
  <br />
  <input type="text" name="title" style="width:300px; height:35px;"/>
  <br />

  Details:
  <br />
  <input type="textbox" name="details" style="width:300px; height:100px;"/>

  <br />

  Date:
  <br />
  <input type="date" name="task_date" value=""/>
  <br />

  Time:
  <br />
  <input type="time" name="task_time" value=""/>
  <br />



  <br />
  <input class="btn btn-primary" type="submit" value="Add new task!" />
  <br />

</form>

{% endblock %}
